<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>0.jpg</string>
		<key>name</key>
		<string>周玉立</string>
		<key>wechatId</key>
		<string>wechat_id_zyl</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>1.jpg</string>
		<key>name</key>
		<string>沈懿忱</string>
		<key>wechatId</key>
		<string>wechat_id_syc</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2.jpg</string>
		<key>name</key>
		<string>倪元晟</string>
		<key>wechatId</key>
		<string>wechat_id_nys</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>3.jpg</string>
		<key>name</key>
		<string>张嘉诚</string>
		<key>wechatId</key>
		<string>wechat_id_zjc</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>4.jpg</string>
		<key>name</key>
		<string>赵豪杰</string>
		<key>wechatId</key>
		<string>wechat_id_zhj</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>5.jpg</string>
		<key>name</key>
		<string>陈达</string>
		<key>wechatId</key>
		<string>wechat_id_cd</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>6.jpg</string>
		<key>name</key>
		<string>罗培铖</string>
		<key>wechatId</key>
		<string>wechat_id_lpc</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>7.jpg</string>
		<key>name</key>
		<string>季福乐</string>
		<key>wechatId</key>
		<string>wechat_id_jfl</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>8.jpg</string>
		<key>name</key>
		<string>陈相超</string>
		<key>wechatId</key>
		<string>wechat_id_cxc</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>9.jpg</string>
		<key>name</key>
		<string>陈嘉盛</string>
		<key>wechatId</key>
		<string>wechat_id_cjs</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>10.jpg</string>
		<key>name</key>
		<string>俞鑫</string>
		<key>wechatId</key>
		<string>wechat_id_yx</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>11.jpg</string>
		<key>name</key>
		<string>A兵</string>
		<key>wechatId</key>
		<string>wechat_id_ab</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>12.jpg</string>
		<key>name</key>
		<string>曹岑杰</string>
		<key>wechatId</key>
		<string>wechat_id_ccj</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>13.jpg</string>
		<key>name</key>
		<string>陈天翼</string>
		<key>wechatId</key>
		<string>wechat_id_cty</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>14.jpg</string>
		<key>name</key>
		<string>黄涛</string>
		<key>wechatId</key>
		<string>wechat_id_ht</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>drogozhang.jpg</string>
		<key>name</key>
		<string>Khal</string>
		<key>wechatId</key>
		<string>personal_wechat</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>15.jpg</string>
		<key>name</key>
		<string>苏碧青</string>
		<key>wechatId</key>
		<string>wechat_id_sbq</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>16.jpg</string>
		<key>name</key>
		<string>潘皓</string>
		<key>wechatId</key>
		<string>wechat_id_ph</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>17.jpg</string>
		<key>name</key>
		<string>彭彬</string>
		<key>wechatId</key>
		<string>wechat_id_pb</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>18.jpg</string>
		<key>name</key>
		<string>stormzhang</string>
		<key>wechatId</key>
		<string>wechat_id_sz</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>19.jpg</string>
		<key>name</key>
		<string>宋天玉</string>
		<key>wechatId</key>
		<string>wechat_id_sty</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>20.jpg</string>
		<key>name</key>
		<string>孙嘉炜</string>
		<key>wechatId</key>
		<string>wechat_id_sjw</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>21.jpg</string>
		<key>name</key>
		<string>AAA</string>
		<key>wechatId</key>
		<string>wechat_id_aaa</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>22.jpg</string>
		<key>name</key>
		<string>王驰</string>
		<key>wechatId</key>
		<string>wechat_id_wc</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>23.jpg</string>
		<key>name</key>
		<string>王欢</string>
		<key>wechatId</key>
		<string>wechat_id_wh</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>24.jpg</string>
		<key>name</key>
		<string>王小菜</string>
		<key>wechatId</key>
		<string>wechat_id_wxc</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>25.jpg</string>
		<key>name</key>
		<string>汪毅杰</string>
		<key>wechatId</key>
		<string>wechat_id_wyj</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>26.jpg</string>
		<key>name</key>
		<string>王樟</string>
		<key>wechatId</key>
		<string>wechat_id_wz</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>27.jpg</string>
		<key>name</key>
		<string>吴剑钟</string>
		<key>wechatId</key>
		<string>wechat_id_wjz</string>
	</dict>
</array>
</plist>
