<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>0.jpg</string>
		<key>lastMessageDate</key>
		<date>2016-05-19T12:50:00Z</date>
		<key>message</key>
		<string>Github: https://github.com/zk31601102</string>
		<key>name</key>
		<string>周玉立</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>1.jpg</string>
		<key>lastMessageDate</key>
		<date>2016-05-11T22:53:20Z</date>
		<key>message</key>
		<string>项目制作：张凯</string>
		<key>name</key>
		<string>沈懿忱</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2.jpg</string>
		<key>lastMessageDate</key>
		<date>2016-05-04T08:56:40Z</date>
		<key>message</key>
		<string>接入图灵机器人的自动聊天功能</string>
		<key>name</key>
		<string>倪元晟</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>3.jpg</string>
		<key>lastMessageDate</key>
		<date>2016-04-26T19:00:00Z</date>
		<key>message</key>
		<string>工作量这么大吴老师给个高分8</string>
		<key>name</key>
		<string>张嘉诚</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>4.jpg</string>
		<key>lastMessageDate</key>
		<date>2016-04-19T05:03:20Z</date>
		<key>message</key>
		<string>聊天内容使用CoreData进行缓存</string>
		<key>name</key>
		<string>赵豪杰</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>5.jpg</string>
		<key>lastMessageDate</key>
		<date>2016-04-11T15:06:40Z</date>
		<key>message</key>
		<string>您已添加了Hash Chen，现在可以开始聊天了。</string>
		<key>name</key>
		<string>陈达</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>6.jpg</string>
		<key>lastMessageDate</key>
		<date>2016-04-04T01:10:00Z</date>
		<key>message</key>
		<string>我是李狗蛋，你美死了(NMSL)</string>
		<key>name</key>
		<string>罗培铖</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>7.jpg</string>
		<key>lastMessageDate</key>
		<date>2016-03-27T11:13:20Z</date>
		<key>message</key>
		<string>今天把论文赶完，现在凌晨3点，早上六点可以给我吗？</string>
		<key>name</key>
		<string>季福乐</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>8.jpg</string>
		<key>lastMessageDate</key>
		<date>2016-03-19T21:16:40Z</date>
		<key>message</key>
		<string>[动画表情]</string>
		<key>name</key>
		<string>陈相超</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>9.jpg</string>
		<key>lastMessageDate</key>
		<date>2016-03-12T07:20:00Z</date>
		<key>message</key>
		<string>凯哥，比特币涨了涨了</string>
		<key>name</key>
		<string>陈嘉盛</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>10.jpg</string>
		<key>lastMessageDate</key>
		<date>2016-03-04T17:23:20Z</date>
		<key>message</key>
		<string>你现在在哪里工作？</string>
		<key>name</key>
		<string>俞鑫</string>
	</dict>
</array>
</plist>
